@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d3ffda;
  --foreground: #1f4a76;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}

ruby {
  ruby-align: center;
  ruby-position: over;
}

rt {
  font-family: inherit;
  font-weight: 500;
  letter-spacing: 0.025em;
  padding-bottom: 0.1rem;
}
