@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e1e3e9;
  --foreground: #0d4278;
}

body {
  color: var(--foreground);
  background: radial-gradient(circle at top left, #739af7, #67eb69);
  font-family: 'Inter', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}

ruby {
  ruby-align: center;
  ruby-position: over;
}

rt {
  font-family: inherit;
  font-weight: 500;
  letter-spacing: 0.05em;
  padding-bottom: 0.2rem;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #74c9be;
}
